<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         stopOnDefect="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnRisky="false"
         stopOnSkipped="false"
         stopOnIncomplete="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
            <exclude>tests/BaseApiTest.php</exclude>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

</phpunit>
