.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/fon/fenetre.svg');
  padding: 3rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: transparent;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 40rem;
  text-align: start;
}

.modal-content h2 {
  padding-bottom: 1rem;
  color: #313131;
}

.modal-content hr {
  border-bottom: 3px solid #313131;
}

.modal-content label {
  color: #313131;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
  border: none;
  background-color: #F3F2EE;
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #313131;
}

.modal-content .checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.modal-content input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #313131;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.modal-content input[type="checkbox"]:checked {
  background-color: #313131;
}

.modal-content input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #F7E4C4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content ul {
  color:#313131;
  list-style: none;
  padding: 0;
  max-height: 15rem;
  overflow-y: auto;
  margin: 1rem 0;
}

.modal-content ul::-webkit-scrollbar {
  width: 12px;
}

.modal-content ul::-webkit-scrollbar-track {
  background-color: #F7E4C4;
  border-radius: 10px;
}

.modal-content ul::-webkit-scrollbar-thumb {
  background-color: #B14330;
  border-radius: 10px;
  border: 2px solid #F7E4C4;
}

.modal-content ul::-webkit-scrollbar-thumb:hover {
  background-color: #953325;
}

.box-btn-modal {
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}


.box-btn-modal button {
  width: 12rem;
  height: 3rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-right: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  font-size: 1rem;
  color: #F3F2EE;
}

.btn-cancel {
  background-image: url('../public/btn/cancel_modal.svg');
}

.btn-save {
  background-image: url('../public/btn/save_modal.svg');
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #313131;
  padding: 0;
  line-height: 1;
}

.btn-close:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 480px) {
  .modal-overlay {
    background-image: url('../public/fon/fenetre_big.svg');
  }

  .modal-content {
    padding: 0.5rem;
  }

  .modal-content h2 {
    font-size: 1.2rem;
    padding-bottom: 0.1rem;
  }
  
  .modal-content label {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }

  .box-btn-modal button {
    font-size: 0.7rem;
    padding-right: 0.2rem;
    padding: 0.1rem;
  }

  .modal-content input[type="text"],
  .modal-content input[type="password"] {
    width: 8rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #313131;
  }
}
