.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/img/fon/fenetre_fon_v2.svg");
  padding: 0.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 481px) {
  .modal-overlay {
    background-image: url("../public/img/fon/fenetre.svg");
    padding: 3rem;
  }
}

.modal-content {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  text-align: start;
}
.modal-content h2 {
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
  margin-left: 2rem;
  color: #313131;
}
@media (min-width: 481px) {
  .modal-content h2 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    margin-left: 3rem;
  }
}
.modal-content hr {
  border-bottom: 3px solid #313131;
  margin-left: 2rem;
  margin-right: 4rem;
}
@media (min-width: 481px) {
  .modal-content hr {
    margin-left: 3rem;
    margin-right: 4rem;
  }
}
.modal-content label {
  color: #313131;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
  margin-left: 2rem;
}
@media (min-width: 481px) {
  .modal-content label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
}
.modal-content input[type=text], .modal-content input[type=password] {
  border: none;
  background-color: #F3F2EE;
  width: 8rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #313131;
}
@media (min-width: 481px) {
  .modal-content input[type=text], .modal-content input[type=password] {
    width: 15rem;
    height: auto;
  }
}
.modal-content input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #313131;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}
.modal-content input[type=checkbox]:checked {
  background-color: #313131;
}
.modal-content input[type=checkbox]:checked::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #F7E4C4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content p {
  margin-left: 2rem;
}
@media (min-width: 481px) {
  .modal-content p {
    margin-left: 3rem;
  }
}
.modal-content .checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.modal-content .friend-search-input {
  margin-left: 2rem;
}
@media (min-width: 481px) {
  .modal-content .friend-search-input {
    margin-left: 3rem;
  }
}
.modal-content .create-game-checkbox,
.modal-content .create-game-input {
  margin-right: 2rem;
}
@media (min-width: 481px) {
  .modal-content .create-game-checkbox,
  .modal-content .create-game-input {
    margin-right: 6rem;
  }
}
.modal-content ul,
.modal-content .container-modal-friend {
  color: #313131;
  list-style: none;
  padding: 0;
  max-height: 15rem;
  overflow-y: auto;
  margin: 1rem 0;
  scroll-behavior: smooth;
}
.modal-content ul::-webkit-scrollbar,
.modal-content .container-modal-friend::-webkit-scrollbar {
  width: 12px;
}
.modal-content ul::-webkit-scrollbar-track,
.modal-content .container-modal-friend::-webkit-scrollbar-track {
  background-color: #F7E4C4;
  border-radius: 10px;
}
.modal-content ul::-webkit-scrollbar-thumb,
.modal-content .container-modal-friend::-webkit-scrollbar-thumb {
  background-color: #B14330;
  border-radius: 10px;
  border: 2px solid #F7E4C4;
}
.modal-content ul::-webkit-scrollbar-thumb:hover,
.modal-content .container-modal-friend::-webkit-scrollbar-thumb:hover {
  background-color: #953325;
}
.modal-content .box-btn-modal {
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  margin-left: 3rem;
}
.modal-content .box-btn-modal button {
  width: 12rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0.1rem 0.2rem 0.5rem 0.2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  font-size: 0.7rem;
  color: #F3F2EE;
}
.modal-content .box-btn-modal button.btn-cancel {
  background-image: url("../public/img/btn/cancel_modal.svg");
}
.modal-content .box-btn-modal button.btn-save {
  background-image: url("../public/img/btn/save_modal.svg");
}
@media (min-width: 481px) {
  .modal-content .box-btn-modal button {
    font-size: 1rem;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    margin-right: 6rem;
  }
}
.modal-content .btn-close {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #313131;
  padding: 0;
  line-height: 1;
}
.modal-content .btn-close:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
@media (min-width: 481px) {
  .modal-content .btn-close {
    font-size: 2.5rem;
    margin-right: 6rem;
  }
}
.modal-content.game-over-modal h2 {
  margin-bottom: 1rem;
}
.modal-content.game-over-modal p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.modal-content .btn-help {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #ff9800;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal-content .factions-table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 2rem;
}
.modal-content .factions-table th,
.modal-content .factions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.modal-content .factions-table th {
  background-color: #f2f2f2;
}
.modal-content .factions-table .faction-image {
  width: 100px;
  height: auto;
}

@media (min-width: 481px) {
  .modal-content {
    padding: 2rem;
    max-width: 40rem;
  }
}
@media (min-width: 768px) {
  .modal-content {
    max-width: 60rem;
  }
}

/*# sourceMappingURL=Modal.css.map */
