.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .game-over-modal h2 {
    margin-bottom: 1rem;
  }
  
  .game-over-modal p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  
  .btn-close-modal {
    background-color: #B14330;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-close-modal:hover {
    background-color: #953325;
  }
  