.header-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
}

  .header-button {
    text-align: center;
    color: #F7E4C4;
    padding: 3rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-weight: bold;
  }
  
  .header-btn-logout {
    background-image: url('/header/header_btn_v1.svg');
    background-color: transparent;
  }
  
  .header-btn-profile {
    background-image: url('/header/header_btn_v2.svg');
    background-color: transparent;
  }
  
  .header-btn-settings {
    background-image: url('/header/header_btn_v3.svg');
    background-color: transparent;
  }
  
  .header-btn-games {
    background-image: url('/header/header_btn_v1.svg');
    background-color: transparent;
  }

  .header-btn-rules {
    background-image: url('/header/header_btn_v2.svg');
    background-color: transparent;
  }
  
  .header-button:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 480px) {
    .header-button {
      padding: 1rem;
      font-size: 7.2px;
    }
  
    .header-buttons {
      gap: 5px;
      margin-top: 5px;
    }
  }