.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/path-to-your-background-image.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
  
.fields {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.player-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.card-slots {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.card-slot {
  width: 100px;
  height: 133px;
  border: 10px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.deck-and-discard {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 20px;
}

.deck, .discard-pile {
  text-align: center;
  margin: 10px;
  width: 100px;
  height: 140px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-count, .curse-count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.8rem;
  color: #000;
}

.card-curse {
  background-color: #20B2AA;
  border: 2px solid #000;
}
.games-container{
  min-height: 550px;
}
.btn-create-game {
  background-image: url('/games/btn_cree.svg');
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  color: #F7E4C4;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.games-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.games-table th {
  background-color: #637F59;
  color: #F7E4C4;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  text-align: left
}

.games-table td {
  padding: 1rem;
  border-bottom: 1px solid #F7E4C4;
  text-align: left;
  color: #313131;
  font-size: 1rem;
}

.games-table tr {
  background-color: #FAE8D8;
}

.game-status-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.btn-join-room {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-join-room img {
  width: 2rem;
  height: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination span {
  font-size: 1.2rem;
  color: #B14330;
}

.pagination button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #B14330;
  cursor: pointer;
}

.pagination button:hover {
  color: #953325;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.search-container input {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #F3F2EE;
  color: #313131;
  border-radius: 5px;
}

.search-container button {
  background-color: #B14330;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.search-container button img {
  width: 1.5rem;
}

.search-container button:hover {
  background-color: #953325;
}