.header-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}

.header-button {
  text-align: center;
  color: #F7E4C4;
  padding: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  cursor: pointer;
  font-size: 7.2px;
  border: none;
  font-weight: bold;
}

.header-btn-profile {
  background-image: url('../../../../public/img/header/header_btn_v1.svg');
  background-color: transparent;
}

.header-btn-rules {
  background-image: url('../../../../public/img/header/header_btn_v2.svg');
  background-color: transparent;
}

.header-btn-games {
  background-image: url('../../../../public/img/header/header_btn_v3.svg');
  background-color: transparent;
}

.header-btn-settings {
  background-image: url('../../../../public/img/header/header_btn_v2.svg');
  background-color: transparent;
}

.header-btn-logout {
  background-image: url('../../../../public/img/header/header_btn_v1.svg');
  background-color: transparent;
}

.header-button:hover {
  transform: scale(1.05);
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-buttons {
    gap: 10px;
  }

  .header-button {
    padding: 1.5rem;
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .header-buttons {
    gap: 20px;
  }

  .header-button {
    padding: 2rem;
    font-size: 16px;
  }
}
