$color-primary: #F7E4C4;
$color-secondary: #313131;
$text-fon-dark: '../../../public/img/fon/text_fon_1.svg';
$text-fon-light: '../../../public/img/fon/text_fon_2.svg';

@mixin text-block($color, $bg-image: none, $padding: 10px, $radius: 10px) {
  color: $color;
  background-image: $bg-image;
  background-size: cover;
  background-position: center;
  padding: $padding;
  border-radius: $radius;
}

.rules-container {
  padding: 10px;
  color: $color-primary;
  text-align: left;
}

.rules-title {
  text-align: center;
  color: $color-primary;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-image: url($text-fon-light);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.2rem;
  }
}

.text-block {
  @include text-block($color-primary);
  margin-bottom: 15px;
}

.text-block-clair {
  color: $color-primary;
}

.text-block-dark {
  @include text-block($color-secondary, url($text-fon-dark), 5rem, 10px);
  padding-left: 2rem;
  height: auto;
  margin-top: -3rem;
}

.text-block h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.text-block p,
.text-block li {
  font-size: 0.9rem;
}

@media (min-width: 481px) {
  .rules-container {
    padding: 20px;
  }

  .rules-title {
    margin-bottom: 2rem;
    padding: 3rem;

    h1 {
      font-size: 1.5rem;
    }
  }

  .text-block {
    padding: 20px;
    margin-bottom: 20px;

    h2 {
      font-size: 1.5rem;
    }

    p,
    li {
      font-size: 1rem;
    }
  }
}

@media (min-width: 769px) {
  .rules-title h1 {
    font-size: 18px;
  }

  .text-block-dark {
    height: 25rem;
    padding: 5rem;
  }
}
